
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.header {
    margin-left: 175px;
    margin-right: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.header img {
    height: 100px;
    width: 160;
}

.contact {
    font-size: 16px;
    color: #ccc;
    margin-right: 100px;
}

.contact-area {
    display: flex;
    align-items: center;
}

.restricted-area {
    
    color: #0078b8;
    font-weight: bold;
    padding: 10px 15px;
    border: 0.5px solid #0078b8;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Adicionei transição suave */
}

.restricted-area:hover {
    background-color: #0078b8; /* Mesma cor azul do menu */
    color: white; 
}

.menu {
    background-color: #0078b8; /* Blue background */
}



.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #005f8a; /* Darker blue for hover effect */
}
