body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif; /* Aplica a fonte Roboto como padrão para todo o corpo */
  }
  
  .carousel {
    display: flex;
    flex-direction: column; /* Ajusta para exibir os itens verticalmente */
    align-items: center; /* Centraliza os itens na vertical */
    gap: 30px; /* Espaçamento vertical entre os itens */
    max-width: 800px; /* Ajustado para espaço suficiente para os itens */
    padding: 20px;
  }
  
  .item {
    display: flex;
    align-items: flex-start; /* Alinha o conteúdo do item no topo */
    max-width: 400px;
    width: 100%; /* Ocupa toda a largura disponível */
  }
  
  .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 8px;
    border-color: gray;
    border-style: solid;
    object-fit: cover;
    margin-right: 20px; /* Espaçamento à direita da imagem */
  }
  
  .text-content {
    flex: 1; /* Ocupa todo o espaço disponível */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  h1 {
    font-size: 1.2em; /* Tamanho do título ajustado */
    color: #1c3d92;
    margin: 0;
    font-family: "Archivo Black", sans-serif; /* Aplica a fonte Archivo Black para os títulos */
  }
  
  p {
    font-size: 0.9em;
    color: gray;
    margin: 5px 0;
    font-family: "Roboto", sans-serif; /* Mantém a fonte Roboto para os parágrafos */
  }
  